@font-face {
    font-family: 'Gotham Pro';
    src: url(./fonts/GothamPro.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(./fonts/GothamPro-Light.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(./fonts/GothamPro-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(./fonts/GothamPro-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(./fonts/GothamPro-Italic.woff2);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Light.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArtegraSansEx';
    src: url(./fonts/ArtegraSansExSemiBold.woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArtegraSansEx';
    src: url(./fonts/ArtegraSansExBlack.woff2);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-grey: #404040;
    --color-light-grey: #F4F7FA;
    --color-blue: #2741D0;
    --color-blue-dark: #273895;
    --color-title: #303030;

    --border-radius-button: 15px;
    --border-radius-box: 10px;

    --font-family-base: 'Gotham Pro', sans-serif;
    --font-family-accent: 'Roboto', sans-serif;

    --button-height: 56px;

    --container-width: 1062px;
    --container-wide-width: 1280px;
    --container-padding-x: 20px;

    --transition-duration: 0.2s;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
} 

body {
    font-family: var(--font-family-base);
    color: var(--color-dark-grey);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--color-light-grey);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: calc(var(--container-wide-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: var(--color-dark);
    text-decoration: none;
    transition-duration: var(--transition-duration);
    font-weight: 500;
}

.title {
    color: var(--color-title);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.375;
}

.title-small {
    font-size: 16px;
    line-height: 1.5;
}

.title-big {
    color: #262626;
    font-size: clamp(24px, 3.3333vw, 48px);
    /* font-size: 48px; */
    line-height: 1.145; 
}

.title-purple {
    line-height: 44px;
    background: linear-gradient(180deg, #4614e8 0%, #bca7ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-sirius {
    font-family: 'ArtegraSansEx';
    font-weight: 900;
    letter-spacing: 2.72px;
}

.button {
    display: inline-flex;
    align-items: center;
    height: var(--button-height);

    font-size: 16px;
    color: var(--color-light);
    line-height: 1.125;
    white-space: nowrap;

    background-color: var(--color-blue-dark);
    border-radius: var(--border-radius-button);
    
    transition-duration: var(--transition-duration);
}

.button:hover {
    background-color: var(--color-blue)
}

.button-phone {
    display: none;
    width: 50px;
    aspect-ratio: 1;

    justify-content: center;
    align-items: center;
    border-radius: 7px;

}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    padding-top: 48px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    column-gap: 62px;
}

.header-logo-link {
    flex-shrink: 0;
}

.header-logo-text {
    line-height: 1.66;
}

.header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 36px;
}

.header-humber {
    white-space: nowrap;
}

.header-humber:hover {
    text-decoration: underline;
}

.header-phone-button {
    background: linear-gradient(326deg, #2641D1 11.53%, #3333A3 74.32%);
}

.header-burger-button {
    background-color: #DEE6EF;
}

.header-login-button {
    font-weight: 700;
    height: 50px;
    padding-inline: 32px;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 48px;
    font-size: 16px;
}

.header-menu-link {
    letter-spacing: 0.48px; 
}

.header-menu-link:hover {
    color: var(--color-blue-dark);
}

.about {
    padding-top: 55px;
}

.about-inner {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.about-title {
    padding-top: 65px;
}

.about-title:not(:last-child) {
    margin-bottom: 16px;
}

.about-description {
    max-width: 547px;
}

.about-description:not(:last-child) {
    margin-bottom: 32px;
}

.about-button {
    padding-inline: 32px;
}

.about-image-wrapper {
    position: relative;
    margin-right: 77px;
    flex-shrink: 0;
}

.about-image-wrapper::after {
    content: '';
    width: 145px;
    aspect-ratio: 1;
    background: url(./images/about/about-icon.svg) center/cover no-repeat;
    position: absolute;
    right: 67px;
    top: -76px;
}

.about-image {
    flex-shrink: 0;
}
.about-phone-image {
    display: none;
}
.about-phone-bg-image {
    display: none;
}

.about-info-box {
    position: relative;
    margin-top: -82px;
    margin-inline: auto 0;
    max-width: 712px;
    padding: 32px 39px;
    display: flex;
    column-gap: 32px;
    border-radius: var(--border-radius-box);
    background-color: var(--color-light-grey);
    box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
}

.about-info-item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.about-info-text {
    color: var(--color-title);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

.support {
    padding-top: 187px;
}

.support-wrapper {
    display: flex;
    column-gap: 75px;
}

.support-body {
    padding-top: 30px;
    max-width: 438px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.support-logo:not(:last-child) {
    margin-bottom: 16px;
}

.support-indicators {
    max-width: 492px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 17px;
    align-items: flex-start;
    
}

.support-indicators-item {
    display: flex;
    flex-direction: column;
    /* row-gap: 8px; */
    border-radius: 10px;
    background: linear-gradient(236deg, #FFF 29.99%, #F4F9FF 79.17%);
    box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
    transition-duration: var(--transition-duration);
}

.support-indicators-item:nth-child(n+2){
    max-width: 179px;
    width: 100%;
    padding: 24px;
}
.support-indicators-item:nth-child(3n+1){
    max-width: 217px;
    width: 100%;
    padding: 32px; 
}
.support-indicators-item:nth-child(2){
    position: relative;
    align-self: flex-end;
}

.support-indicators-item:nth-child(2)::after {
    content: '';
    position: absolute;
    top: -64px;
    left: 146px;
    z-index: -1;
    width: 159px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(90deg, #E1D8FF 21.57%, #F4ECFF 100%);
}

.support-indicators-item:nth-child(3){
    margin-left: 40px;
    position: relative;
}

.support-indicators-item:nth-child(3)::after {
    content: '';
    position: absolute;
    top: -12px;
    left: -21px;
    z-index: -1;
    width: 39px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(90deg, #E1D8FF 21.57%, #F4ECFF 100%);
}

.support-indicators-item:nth-child(4){
    max-width: 192px;
    position: relative;
}

.support-indicators-item:nth-child(4)::after {
    content: '';
    position: absolute;
    top: 30px;
    left: -13px;
    z-index: -1;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(90deg, #E1D8FF 21.57%, #F4ECFF 100%);
}

.support-indicator-title-big {
    font-size: 48px;
}

.support-indicator-title-medium {
    font-size: 36px;
}

.support-subjects {
    padding-top: 48px;
}

.support-subjects-caption {
    margin-bottom: 30px;
    text-align: center;
}

.support-subjects-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.support-subjects-item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 32px;
    background-color: var(--color-light);
    border-radius: var(--border-radius-box);
}

.support-subject-image {
    align-self: center;
}


@media screen and (max-width: 1200px) {
    .about-image-wrapper {
        display: none;
    }
    .about-title {
        padding-top: 0;
    }
    .about-title:not(:last-child) {
        margin-bottom: 0;
    }
    .about-description:not(:last-child) {
        margin-bottom: 0px;
    }
    .about-body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
        text-align: center;
        margin-bottom: 32px;
    }
    .about-phone-image {
        display: block;
    }
    .about-phone-bg-image {
        display: block;
        position: absolute;
        z-index: -1;
    }
    .about-info-box {
        margin-top: 0;
        margin-inline: auto;
    }
    .support {
        padding-top: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .about {
        padding-top: 36px;
    }
    .header-logo {
        column-gap: 36px;
    }
    .support-wrapper {
        flex-direction: column;
        column-gap: 0px;
        row-gap: 100px;
        align-items: center;
    }
    .support-body {
        text-align: center;
        align-items: center;
    }
    .support-logo {
        margin-left: 120px;
    }
}

@media screen and (max-width: 767px) {
    .button {
        font-size: 12px;
    }
    .header {
        padding-top: 24px;
    }
    .header-logo-text {
        display: none;
    }
    .about-body {
        row-gap: 16px;
        margin-bottom: 16px;
    }
    .about-description {
        font-size: 12px;
    }
    .about-phone-image {
        width: 122px;
        aspect-ratio: 1;
    }
    .about-info-text {
        font-size: 14px;
    }
    .support {
        padding-top: 60px;
    }
    .support-logo:not(:last-child){
        margin-bottom: 8px;
    }
    .support-indicators {
        max-width: 288px;
        column-gap: 16px;
        row-gap: 16px;
    }
    .support-indicators-item:nth-child(n+2){
        max-width: 124px;
        padding: 16px;
    }
    .support-indicators-item:nth-child(3n+1){
        max-width: 140px;
        padding: 16px;
    }
    .support-indicators-item:nth-child(3) {
        margin-left: 16px;
    }
    .support-indicators-item:nth-child(4){
        max-width: 132px;
        padding: 16px;
    }
    .support-indicators-item:nth-child(2)::after {
        top: -46px;
        left: 73px;
        width: 100px;
    }
    .support-indicator-title-big {
        font-size: 32px;
    }
    .support-indicator-title-medium {
        font-size: 32px;
    }
    .support-indicator-description {
        font-size: 10px;
    }
    .support-subjects-caption {
        margin-bottom: 24px;
    }
    .support-subjects-inner {
        grid-template-columns: 344px;
        justify-content: center;
        gap: 8px;
    }
    .support-subjects-item {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .header-menu {
        display: none;
    }
    .header-actions {
        column-gap: 16px;
    }
    .header-humber {
        display: none;
    }
    .header-login-button {
        display: none;
    }
    .button-phone {
        display: inline-flex;
    }
    .about-info-box {
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
        padding-inline: 32px;
    }
    .about-info-item {
        text-align: center;
        align-items: center;
        row-gap: 16px;
    }
}

@media screen and (max-width: 380px) {
    .header {
        padding-top: 22px;
    }
    .header-logo-image {
        width: 90px;
        height: 30px;
    }
    .header-actions {
        column-gap: 8px;
    }
}