@font-face {
    font-family: 'GothamPro';
    src: url(./fonts/GothamPro.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamPro';
    src: url(./fonts/GothamPro-Light.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamPro';
    src: url(./fonts/GothamPro-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamPro';
    src: url(./fonts/GothamPro-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamPro';
    src: url(./fonts/GothamPro-Italic.woff2);
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Light.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArtegraSansEx';
    src: url(./fonts/ArtegraSansExSemiBold.woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ArtegraSansEx';
    src: url(./fonts/ArtegraSansExBlack.woff2);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-grey: #404040;
    --color-light-grey: #F4F7FA;
    --color-blue: #2741D0;
    --color-blue-dark: #273895;
    --color-title: #303030;

    --border-radius-button: 15px;
    --border-radius-box: 10px;

    --font-family-base: 'GothamPro', sans-serif;
    --font-family-accent: 'Roboto', sans-serif;

    --button-height: 56px;

    --container-width: 1062px;
    --container-wide-width: 1280px;
    --container-padding-x: 20px;

    --transition-duration: 0.2s;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
} 

body {
    font-family: var(--font-family-base);
    color: var(--color-dark-grey);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--color-light-grey);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: calc(var(--container-wide-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: var(--color-dark);
    text-decoration: none;
    transition-duration: var(--transition-duration);
    font-weight: 500;
}

.title {
    color: var(--color-title);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.375;
}

.title-big {
    color: #262626;
    font-size: clamp(24px, 3.3333vw, 48px);
    /* font-size: 48px; */
    line-height: 1.145; 
}

.button {
    display: inline-flex;
    align-items: center;
    height: var(--button-height);

    font-size: 16px;
    color: var(--color-light);
    line-height: 1.125;
    white-space: nowrap;

    background-color: var(--color-blue-dark);
    border-radius: var(--border-radius-button);
    
    transition-duration: var(--transition-duration);
}

.button:hover {
    background-color: var(--color-blue)
}

.button-phone {
    display: none;
    width: 50px;
    aspect-ratio: 1;

    justify-content: center;
    align-items: center;
    border-radius: 7px;

}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    padding-top: 48px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
    column-gap: 62px;
}

.header-logo-link {
    flex-shrink: 0;
}

.header-logo-text {
    line-height: 1.66;
}

.header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 36px;
}

.header-humber {
    white-space: nowrap;
}

.header-humber:hover {
    text-decoration: underline;
}

.header-phone-button {
    background: linear-gradient(326deg, #2641D1 11.53%, #3333A3 74.32%);
}

.header-burger-button {
    background-color: #DEE6EF;
}

.header-login-button {
    font-weight: 700;
    height: 50px;
    padding-inline: 32px;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 48px;
    font-size: 16px;
}

.header-menu-link {
    letter-spacing: 0.48px; 
}

.header-menu-link:hover {
    color: var(--color-blue-dark);
}

.about {
    padding-top: 55px;
}

.about-inner {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

.about-title {
    padding-top: 65px;
}

.about-title:not(:last-child) {
    margin-bottom: 16px;
}

.about-description {
    max-width: 547px;
}

.about-description:not(:last-child) {
    margin-bottom: 32px;
}

.about-button {
    padding-inline: 32px;
}

.about-image-wrapper {
    position: relative;
    margin-right: 77px;
    flex-shrink: 0;
}

.about-image-wrapper::after {
    content: '';
    width: 145px;
    aspect-ratio: 1;
    background: url(./images/about/about-icon.svg) center/cover no-repeat;
    position: absolute;
    right: 67px;
    top: -76px;
}

.about-image {
    flex-shrink: 0;
}
.about-phone-image {
    display: none;
}
.about-phone-bg-image {
    display: none;
}

.about-info-box {
    position: relative;
    margin-top: -80px;
    margin-inline: auto 0;
    max-width: 712px;
    padding: 32px 39px;
    display: flex;
    column-gap: 32px;
    border-radius: var(--border-radius-box);
    background-color: var(--color-light-grey);
    box-shadow: 0px 4px 100px 0px rgba(208, 218, 227, 0.57);
}

.about-info-item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.about-info-text {
    color: var(--color-title);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}

@media (max-width: 1200px) {
    .about-image-wrapper {
        display: none;
    }
    .about-title {
        padding-top: 0;
    }
    .about-title:not(:last-child) {
        margin-bottom: 0;
    }
    .about-description:not(:last-child) {
        margin-bottom: 0px;
    }
    .about-body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
        text-align: center;
        margin-bottom: 32px;
    }
    .about-phone-image {
        display: block;
    }
    .about-phone-bg-image {
        display: block;
        position: absolute;
        z-index: -1;
    }
    .about-info-box {
        margin-top: 0;
        margin-inline: auto;
    }
}

@media (max-width: 1024px) {
    .about {
        padding-top: 36px;
    }
    .header-logo {
        column-gap: 36px;
    }
}

@media (max-width: 767px) {
    .button {
        font-size: 12px;
    }
    .header {
        padding-top: 24px;
    }
    .header-logo-text {
        display: none;
    }
    .about-body {
        row-gap: 16px;
        margin-bottom: 16px;
    }
    .about-description {
        font-size: 12px;
    }
    .about-phone-image {
        width: 122px;
        aspect-ratio: 1;
    }
    .about-info-text {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .header-menu {
        display: none;
    }
    .header-actions {
        column-gap: 16px;
    }
    .header-humber {
        display: none;
    }
    .header-login-button {
        display: none;
    }
    .button-phone {
        display: inline-flex;
    }
    .about-info-box {
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
        padding-inline: 32px;
    }
    .about-info-item {
        text-align: center;
        align-items: center;
        row-gap: 16px;
    }
}

@media (max-width: 380px) {
    .header {
        padding-top: 22px;
    }
    .header-logo-image {
        width: 90px;
        height: 30px;
    }
    .header-actions {
        column-gap: 8px;
    }
}